<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <connectionStrings>
    <add name="coniiqtest" connectionString=" Data Source=<Server Name>;Initial Catalog=identityiq; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="coniiqtestb" connectionString=" Data Source=<Server Name>;Initial Catalog=Cloned_identityiq; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="coniiq" connectionString=" Data Source=<Server Name>;Initial Catalog=identityiq; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="coniiqDevA" connectionString=" Data Source=<Server Name>;Initial Catalog=identityiq; Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="coniiqDevB" connectionString=" Data Source=<Server Name>;Initial Catalog=Cloned_IIQ; Integrated Security=True" providerName="System.Data.SqlClient"/>  
  </connectionStrings>
</configuration>
